@using WebApplication1.ViewModels
@model ProfileModel

<main class="main">
<h1>Hello @Model.currentUserName</h1>

@foreach (var book in Model.CurrentUserRatings)

{
    <div class="bookCard secondBookCard">
        <div class="cardImg">
            <img src="@book.ImgUrl" alt="@book.Title cover" />
        </div>
        <div class="cardBody">
            <div class="bodyHeader">
                <h2 class="headerTitle">@book.Title</h2>
                <p class="headerAuthor">By @book.AuthorName</p>
            </div>
            <p class="bodyDescription thisDescription">@book.Description</p>

            <div class="rated-stars">
                @foreach (var item in Model.BookIdRating)
                {
                    @if (item.Key == book.Id)
                    {
               
                        @for (int i = 0; i < item.Value; i++)
                        {
                            <span class="star">&#9733;</span> 
                        }

                      
                        @for (int i = item.Value; i < 5; i++)
                        {
                            <span class="star empty">&#9734;</span> 
                        }
                    }
                }
            </div>
        </div>

    </div>
}
</main>

<style>

    .main {
        padding-inline: 3.75rem;
    }

    

    .secondBookCard {
        margin-bottom: 1rem;
    }

    .thisDescription {
        max-width: 600px;
        line-height: 23px;
    }

</style>
